/* styles */

#main {
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
}

.header {
 grid-area: header;
}

#title {

}

.timeline {
  grid-area: content;
}

.timelineEntry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "image entry"
    "image entry";
}

.imgContainer {
  grid-area: image;
  text-align: center;
}

.imgSource {
  max-width: 300px;
}

.caption {
}

.entry {
  grid-area: entry;
}

.learnMore {
  grid-area: footer;
}
